ROUTERBOX_URL=https://sistema.solprovedor.com.br/routerbox/ws/rbx_server_json.php
ROUTERBOX_INTEGRATION_KEY=coloque_sua_chave_aqui
ROUTERBOX_STATUS_ACTIVE=A
ROUTERBOX_STATUS_INACTIVE=I,N
ROUTERBOX_STATUS_CANCELED=C
ROUTERBOX_STATUS_SUSPENDED=S
ROUTERBOX_STATUS_BLOCKED=B
ROUTERBOX_STATUS_AWAITING_INSTALLATION=E
ROUTERBOX_CACHE_TTL_MS=300000
HOST=0.0.0.0
PORT=6000
